DB_HOST=localhost
DB_PORT=5434
DB_USER=admin
DB_PASSWORD=admin_password
DB_NAME=sprinthub

GO_AUTH_URL=http://localhost:8081/api/v1
GO_CLIENT_ID=sprinthub-backend
GO_CLIENT_SECRET=changeme
GO_REDIRECT_URI=http://localhost:3000/auth/callback
JWT_SECRET=sprinthub-secret-key